/* Navigation Bar */
.nav-link:hover{
    transform: scale(1.1);
}

/* Header Carousel */
.carousel-img-size{
    object-fit: cover;
    filter: brightness(0.7);
}

/* 1st Content of the Body Style */
.welcome-text h1{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 75px;
    background: -webkit-linear-gradient(#FF9472, #F2709C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px;
}

.welcome-text img{
    height: 30px;
    width: 200px;
        
}

.welcome-text h6{
    font-family: "Contrail One", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
/* End of 1st Content Style */

/* 2nd & 4th Content of the Body Featured Products & Best Seller Style */
.header-text h1{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    background: -webkit-linear-gradient(#FF9472, #F2709C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px;   
}

.card-body h5{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.4), #F2709C);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0, 40px;
    text-align: center;
    font-size: 14px;
    color: white;
    transition: height 0.5s;
}

.layer p{
    margin-bottom: 20px;
}

.col-md-4:hover .layer{
    height: 50%;
}

/* End of 2nd & 4th Content of the Body Featured Products & Best Seller Style */

/* 3rd Content of the Body Introduction Sentence */

.engaging-text{
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-size: 30px;    
}

/* Footer */
footer{
    font-family: "Poppins", sans-serif;
}


/* Ocassion & Flower Category */
.header-prod img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.6);
}

.header-prod h1{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 60px;
    background: -webkit-linear-gradient(#FFE0E0, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px;
} 

/* Contact Us Style */
.header-contact h1{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
    background: -webkit-linear-gradient(#FF9472, #F2709C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.header-contact h3{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
    background: -webkit-linear-gradient(#FF9472, #F2709C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-info h3{
    font-family: "Poppins", sans-serif;
}

/* About us */
.header-about img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.6);
}

.header-about h1{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 60px;
    background: -webkit-linear-gradient(#FFE0E0, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px;
}

.about-us p{
    font-family: "Montserrat", sans-serif;
}

.mission-vision{
    font-family: "Montserrat", sans-serif;
}

/* Single Page */
.single-care p{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}